<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mm.dao.Stu_simpleDao">
   <resultMap type="com.mm.entity.Stu_simple" id="stu_simplemap">
     <id column="id" property="id"/>
     <result column="name" property="name"/>
     <result column="bak" property="bak"/>
     <result column="rate" property="rate"/> 
     <result column="state" property="state"/> 
   </resultMap>

  
   <select id="selectById" resultMap="stu_simplemap">
        select * from stu_simple where id =#{id}
   </select>
   
   <select id="selectSuccess"  resultMap="stu_simplemap">
        select * from stu_simple where id =#{id} and state = '5'
   </select>
   
   <select id="selectGiveup" resultMap="stu_simplemap">
        select * from stu_simple where id =#{id} and state = '2'
   </select>
   
   <insert id="addsimple" parameterType="com.mm.entity.Stu_simple">
         insert into stu_simple (id,name,bak,rate,state) values
         (
             #{id,jdbcType=DATE},
             #{name,jdbcType=VARCHAR},
             #{bak,jdbcType=VARCHAR},
             #{rate,jdbcType=VARCHAR},
             #{state,jdbcType=VARCHAR}
             
             
         )
       
       
   </insert>
  
</mapper>