<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mm.dao.StudentDao">

   <resultMap type="com.mm.entity.Student" id="studentmap">
     <id column="id" jdbcType="INTEGER" property="id"/>
     <result column="name" jdbcType="VARCHAR" property="name"/>
     <result column="age" jdbcType="INTEGER" property="age"/>
     <result column="address" jdbcType="VARCHAR" property="address"/>
     <result column="photo" jdbcType="BLOB" property="photo"/>
     <result column="information" jdbcType="VARCHAR" property="information"/>
     <result column="bak" jdbcType="VARCHAR" property="bak"/>
   </resultMap>
  
   <select id="selectById" resultMap="studentmap">
        SELECT
			a.id,
			a.NAME,
			a.age,
			a.address,
			a.information,
			a.bak
		FROM
			student a
		WHERE a.id=#{id}
   </select>
   
   <select id="selectAll" resultMap="studentmap">
        SELECT
			a.id,
			a.NAME,
			a.age,
			a.address,
			a.information,
			a.bak
		FROM
			student a
   </select>
   
   <insert id="addStudent" useGeneratedKeys="true" keyColumn="id" 
   keyProperty="id" parameterType="com.mm.entity.Student">
         insert into student (name,age,address,information,bak) values
         (#{name,jdbcType=VARCHAR},#{age,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{information,jdbcType=VARCHAR}, #{bak,jdbcType=VARCHAR})
   </insert>
  
</mapper>